spring:
  profiles:
    active: prod

---
spring:
  profiles: prod
  application:
    name: cardano.healthchain.production
  server:
    port: ${PORT:8080}
  web:
    resources:
      add-mappings: false
  sql:
    init:
      mode: always

---
spring:
  profiles: dev
  application:
    name: cardano.healthchain.dev
  server:
    port: 3000
  web:
    resources:
      add-mappings: true
  sql:
    init:
      mode: always